body {
  min-height: 100vh;
}

.header {
  background: white;
  height: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.navbar-left-menu {
  background: #43465d;
  min-height: 90vh;
}

.widget-panel {
  margin: 20px;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

